<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272155096041-14fkuck38akpe2a2hda3gq99999p1gne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272155096041-14fkuck38akpe2a2hda3gq99999p1gne</string>
	<key>API_KEY</key>
	<string>AIzaSyAHvJMsfYwT1hqSbr_9etDfryTYWIysd5w</string>
	<key>GCM_SENDER_ID</key>
	<string>272155096041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prealpha</string>
	<key>PROJECT_ID</key>
	<string>pre-alpha-ffce5</string>
	<key>STORAGE_BUCKET</key>
	<string>pre-alpha-ffce5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272155096041:ios:17957ea354886b83d8d178</string>
</dict>
</plist>